<div class="container-fluid">
  <h1>Section for course: {{courseId}}</h1>
  <div *ngIf="username === 'admin' && password === 'admin'">

    <input placeholder="Section Name:"
           [(ngModel)]="sectionName"
           class="form-control">

    <input placeholder="Seats Available:"
           [(ngModel)]="seats"
           class="form-control">

    <button
      (click)="createSection(sectionName, seats)"
      class="btn btn-success btn-block">
        Add Section
    </button>
    <hr>

  </div>

  <ul class="list-group">
    <li
      *ngFor="let section of sections" class="list-group-item">
      {{section.name}}



      <button
        *ngIf="section.seats > 0"
        (click)="enroll(section)"
        class="float-right btn btn-primary wbdv">Enroll</button>
      <button
        *ngIf="username === 'admin' && password === 'admin'"
        (click)="edit(section)"
        class="float-right btn btn-primary wbdv">Edit</button>
      <button
        *ngIf="username === 'admin' && password === 'admin'"
        (click)="delete(section)"
        class="float-right btn btn-primary wbdv">Delete</button>
      <p class="float-right">{{section.seats}} Seats</p>
    </li>
  </ul>
</div>
